LastMileFactory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "LastMileFactory"
		},
		"AzurePostgreSql_Products_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzurePostgreSql_Products'"
		},
		"Formating notebook_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'Formating notebook'"
		},
		"iki_ProductsWh_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'iki_ProductsWh'"
		},
		"iki_products_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'iki_products'"
		},
		"Formating notebook_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0914-123506-hbz51gu1"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ETL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy important columns",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Collect data from api",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "constraintCode",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "constraintcode",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "countryOfOrigin",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "countryoforigin",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "supplier",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "supplier",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "producer",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "producer",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "packaging",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "packaging",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "name.lt",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "description.lt",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "description",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "ingredients.lt",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "ingredients",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "storingConditions.lt",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "storingconditions",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "allergens.lt",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "allergens",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "nutrition.energy",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "energy",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "nutrition.fat",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "fat",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "nutrition.salt",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "salt",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "nutrition.protein",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "protein",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "nutrition.carbs",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "carbs",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "nutrition.satFat",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "satfat",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "nutrition.sugar",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "sugar",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "prc.s",
											"type": "Double",
											"physicalType": "double precision"
										},
										"sink": {
											"name": "pricesale",
											"type": "Decimal",
											"physicalType": "numeric"
										}
									},
									{
										"source": {
											"name": "prc.p",
											"type": "Double",
											"physicalType": "double precision"
										},
										"sink": {
											"name": "pricenosale",
											"type": "Decimal",
											"physicalType": "numeric"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "rawIkiData_fromIkiProductsWH",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ikiData_fromIkiProductsWh",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Number values to tables",
						"description": "Nutrition and prices",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Formating nutriens notebook",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Move to tables",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ikiData": {},
									"nutrition": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Formating nutriens notebook",
						"description": "Removing g's and kg's replacing , with .",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Copy important columns",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/IKIData/replace commas and remove letters"
						},
						"linkedServiceName": {
							"referenceName": "Formating notebook",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Collect data from api",
						"description": "Collects data from IKI store and sends to \nrawIkiData",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/IKIData/main"
						},
						"linkedServiceName": {
							"referenceName": "Formating notebook",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy description table data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy important columns",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "description",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "description",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "ingredients",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "ingredients",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "allergens",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "allergens",
											"type": "String",
											"physicalType": "text"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ikiData_fromIkiProductsWh",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "description",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy producers table data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy important columns",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "supplier",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "supplier",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "producer",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "producer",
											"type": "String",
											"physicalType": "text"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ikiData_fromIkiProductsWh",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "producers",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy countries table data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy important columns",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "countryoforigin",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "text"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ikiData_fromIkiProductsWh",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "countries",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy products table data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy important columns",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "name",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "constraintcode",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "constraintcode",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "packaging",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "packaging",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "storingconditions",
											"type": "String",
											"physicalType": "text"
										},
										"sink": {
											"name": "storingconditions",
											"type": "String",
											"physicalType": "text"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ikiData_fromIkiProductsWh",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "product",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/rawIkiData_fromIkiProductsWH')]",
				"[concat(variables('factoryId'), '/datasets/ikiData_fromIkiProductsWh')]",
				"[concat(variables('factoryId'), '/dataflows/Move to tables')]",
				"[concat(variables('factoryId'), '/linkedServices/Formating notebook')]",
				"[concat(variables('factoryId'), '/datasets/description')]",
				"[concat(variables('factoryId'), '/datasets/producers')]",
				"[concat(variables('factoryId'), '/datasets/countries')]",
				"[concat(variables('factoryId'), '/datasets/product')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ikiData_fromIkiProductsWh')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "iki_ProductsWh",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "constraintcode",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "countryoforigin",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "supplier",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "producer",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "packaging",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "description",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "ingredients",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "storingconditions",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "allergens",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "energy",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "fat",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "salt",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "protein",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "carbs",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "satfat",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "sugar",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "pricesale",
						"type": "numeric",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "pricenosale",
						"type": "numeric",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "public",
					"table": "ikidata"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/iki_ProductsWh')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/nutrition')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "iki_products",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "energy",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "fat",
						"type": "double precision",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "salt",
						"type": "double precision",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "protein",
						"type": "double precision",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "carbs",
						"type": "double precision",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "satfat",
						"type": "double precision",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "sugar",
						"type": "double precision",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "Iki",
					"table": "nutritions"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/iki_products')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/prices')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "iki_products",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "price",
						"type": "double precision",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "priceonsale",
						"type": "double precision",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "Iki",
					"table": "prices"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/iki_products')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/rawIkiData_fromIkiProductsWH')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "iki_ProductsWh",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "objectID",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "productId",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "chainId",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "categoryId",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "productCode",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "barcodes",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "tags",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "categoryCode",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "constraintCode",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "countryOfOrigin",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "supplier",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "producer",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "packaging",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "taxCount",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "taxCode",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "conversionMeasure",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "unitOfMeasure",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "maximumOrderQuantity",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "standardOrderQuantity",
						"type": "double precision",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "conversionValue",
						"type": "double precision",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "conversionToKg",
						"type": "double precision",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "isFixedWeight",
						"type": "boolean",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "bestBeforeType",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "dateCreated",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "dateLastRefresh",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "changedBy",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "alternativeText",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "isActive",
						"type": "boolean",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "isApproved",
						"type": "boolean",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "storeIds",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "stockStores",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "bannerIds",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "photoUrl",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "thumbUrl",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "imageUrl",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "karmaFrequency",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "karmaSalesQty",
						"type": "double precision",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "karmaSalesPrice",
						"type": "double precision",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "karmaAdjustment",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "w_updateTrigger",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "unitWeight",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "name.lt",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "name.ru",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "name.en",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "name.de",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "description.de",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "description.lt",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "description.ru",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "description.en",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "ingredients.en",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "ingredients.lt",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "storingConditions.ru",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "storingConditions.lt",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "storingConditions.de",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "storingConditions.en",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "allergens.en",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "allergens.lt",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "nutrition.fat",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "nutrition.salt",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "nutrition.satFat",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "nutrition.carbs",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "nutrition.energy",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "nutrition.sugar",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "nutrition.protein",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "prc.p",
						"type": "double precision",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "prc.s",
						"type": "double precision",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "prc.l",
						"type": "double precision",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "prc.still",
						"type": "double precision",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "prc.ltill",
						"type": "double precision",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "prc.ap",
						"type": "double precision",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "prc.lap",
						"type": "double precision",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "prc.lstill",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "dimensions.length",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "dimensions.width",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "dimensions.height",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "karmaChain.adjustment",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "karmaChain.salesFrequency",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "karmaChain.salesPrice",
						"type": "double precision",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "karmaChain.salesQty",
						"type": "double precision",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "karmaChain.totalFrequency",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "karmaChain.totalPrice",
						"type": "double precision",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "karmaChain.totalQty",
						"type": "double precision",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "ingredients.de",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "ingredients.ru",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "allergens.ru",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "allergens.de",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "taxes.deposit",
						"type": "double precision",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "public",
					"table": "rawIkiData"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/iki_ProductsWh')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzurePostgreSql_Products')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzurePostgreSql",
				"typeProperties": {
					"connectionString": "[parameters('AzurePostgreSql_Products_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Formating notebook')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-6231594754832173.13.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('Formating notebook_accessToken')]"
					},
					"existingClusterId": "[parameters('Formating notebook_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/iki_ProductsWh')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzurePostgreSql",
				"typeProperties": {
					"connectionString": "[parameters('iki_ProductsWh_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/iki_products')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzurePostgreSql",
				"typeProperties": {
					"connectionString": "[parameters('iki_products_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Move to tables')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ikiData_fromIkiProductsWh",
								"type": "DatasetReference"
							},
							"name": "ikiData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "nutrition",
								"type": "DatasetReference"
							},
							"name": "nutrition"
						},
						{
							"dataset": {
								"referenceName": "prices",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "ConvertingToDoubles"
						}
					],
					"scriptLines": [
						"source(output(",
						"          id as string,",
						"          constraintcode as string,",
						"          countryoforigin as string,",
						"          supplier as string,",
						"          producer as string,",
						"          packaging as string,",
						"          name as string,",
						"          description as string,",
						"          ingredients as string,",
						"          storingconditions as string,",
						"          allergens as string,",
						"          energy as string,",
						"          fat as string,",
						"          salt as string,",
						"          protein as string,",
						"          carbs as string,",
						"          satfat as string,",
						"          sugar as string,",
						"          pricesale as double,",
						"          pricenosale as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT * from ikidata',",
						"     format: 'query') ~> ikiData",
						"ikiData derive(fat = toDouble(fat),",
						"          salt = toDouble(salt),",
						"          protein = toDouble(protein),",
						"          carbs = toDouble(carbs),",
						"          satfat = toDouble(satfat),",
						"          sugar = toDouble(sugar),",
						"          pricesale = toDouble(pricesale),",
						"          pricenosale = toDouble(pricenosale)) ~> ConvertingToDoubles",
						"ConvertingToDoubles sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          id as integer,",
						"          energy as string,",
						"          fat as double,",
						"          salt as double,",
						"          protein as double,",
						"          carbs as double,",
						"          satfat as double,",
						"          sugar as double",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     mapColumn(",
						"          energy,",
						"          fat,",
						"          salt,",
						"          protein,",
						"          carbs,",
						"          satfat,",
						"          sugar",
						"     )) ~> nutrition",
						"ConvertingToDoubles sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          id as integer,",
						"          price as double,",
						"          priceonsale as double",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     mapColumn(",
						"          price = pricenosale,",
						"          priceonsale = pricesale",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ikiData_fromIkiProductsWh')]",
				"[concat(variables('factoryId'), '/datasets/nutrition')]",
				"[concat(variables('factoryId'), '/datasets/prices')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/description')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "iki_products",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "description",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "ingredients",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "allergens",
						"type": "text",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "Iki",
					"table": "description"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/iki_products')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/producers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "iki_products",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "supplier",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "producer",
						"type": "text",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "Iki",
					"table": "producers"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/iki_products')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/countries')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "iki_products",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "name",
						"type": "text",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "Iki",
					"table": "countries"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/iki_products')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/product')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "iki_products",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "name",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "description",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "prices",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "producers",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "nutritions",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "country",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "constraintcode",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "packaging",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "storingconditions",
						"type": "text",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "public",
					"table": "product"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/iki_products')]"
			]
		}
	]
}